<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <a routerLink=""><img class="mb-2" src="assets/logo/logo-footer.png" alt="" width="60" height="60"></a>
                <small class="d-block mb-3 text-muted">&copy; 2019</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Find SP</a></li>
                    <li><a class="text-muted" href="#">Find MST</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm"
                            target="_blank">Dijkstra's algorithm</a></li>
                    <li><a class="text-muted"
                            href="https://en.wikipedia.org/wiki/Prim%27s_algorithm#targetText=In%20computer%20science%2C%20Prim's%20(also,in%20the%20tree%20is%20minimized."
                            target="_blank">Prim's algorithm</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" routerLink="team">Team</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>