<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a routerLink="" class="mr-md-auto"><img class="my-0" src="assets/logo/logo-navbar-1.png" alt="" width="100"></a>
    <!-- <h5 class="my-0 mr-md-auto font-weight-normal"><a routerLink="" class="nav-link text-dark">Airport Path
            Simulation</a>
    </h5> -->
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="airports">Airports</a>
        <a class="p-2 text-dark" href="#">Find SP</a>
        <a class="p-2 text-dark" href="#">Find MST</a>
    </nav>
</div>