<div class="custom-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">About Us</h1>
    <p class="lead">We are a bunch of nerds 🤓 from <strong>Coventry University</strong> that ❤️ to make cool things and
        ❤️ algos.</p>
</div>

<div class="container">

    <div class="d-flex justify-content-center mb-3 text-center">
        <div class="col-lg-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Team Lead</h4>
                </div>
                <img src="assets/img/team/team-1.jpg" class="card-img-top" alt="Team Lead Pic">
                <div class="card-body">
                    <h1 class="card-title">T <small class="text-muted">L</small></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mastermind</h4>
                </div>
                <img src="assets/img/team/team-2.png" class="card-img-top" alt="Mastermind Pic">
                <div class="card-body">
                    <h1 class="card-title">Chanuka <small class="text-muted">Silva</small></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Project Manager</h4>
                </div>
                <img src="assets/img/team/team-3.jpg" class="card-img-top" alt="Mastermind Pic">
                <div class="card-body">
                    <h1 class="card-title">Isuru <small class="text-muted">Prabath</small></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-3 text-center">
        <div class="col-lg-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">QA</h4>
                </div>
                <img src="assets/img/team/team-4.png" class="card-img-top" alt="Team Lead Pic">
                <div class="card-body">
                    <h1 class="card-title">Kalana <small class="text-muted">Gayashan</small></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Dev</h4>
                </div>
                <img src="assets/img/team/team-5.png" class="card-img-top" alt="Mastermind Pic">
                <div class="card-body">
                    <h1 class="card-title">Devin <small class="text-muted">Herath</small></h1>
                </div>
            </div>
        </div>
    </div>

</div>